[Desktop Entry]
Version=1.0.1
Name=EduBlocks
Comment=Making the transition from Scratch to Python easier.
Exec=sudo ./EduBlocks/test.sh
Icon=/usr/share/icons/hicolor/scalable/apps/logo.png
Terminal=true
Type=Application
Categories=Application;
